@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;1,300&display=swap');


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-home 
{
  background-color: #1B263B;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

  .App-home h1 
  {
    /* background-color: #ffffff50; */
    font-family: 'Josefin Sans', light;
    font-weight: 400;
    font-size: 80px;
    line-height: 80px;
    color: #E0E1DD;
  }

  .App-home p
  {
    /* background-color: #ffffff50; */
    position: relative;
    top: -2em;

    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 35px;
    line-height: 35px;
    color: #ffffff;
  }

  .App-home label
  {
    font-family: 'Josefin Sans';
    font-style: light;
    font-weight: 300;
    font-size: 30px;
    line-height: 30px;
    color: #FFFFFF;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 0;
    padding-bottom: 0.24em;
  }

  .App-home div
  {
    width: 694px;
    height: 44px;

    display:inline-flex;
    align-self: center;
  }

    .App-home div input
    {
      width: calc(100% - 46px);
      height: 41px;
      background-color: #FFFFFF;

      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      border: 2px solid #415A77
    }

    .App-home div input::placeholder
    {
      padding: 0 10em 0 1em;
    }

    .App-home div button 
    {
      width: 46px;
      height: 47px;
      background-color: #FFFFFF;

      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      border: 2px solid #415A77
    }

      .App-home div button .iconify-magnify
      {
        content: url('https://api.iconify.design/mdi/magnify.svg?color=%23415a77&width=24&height=24');
        vertical-align: middle;
        
        position: relative;
        left: -2px;
      }

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.topBar {
  background-color: aqua;
  color: blue;
}

.App-analyzer
{
  background-color: #1B263B;
  min-height: 100vh;
}

  .App-analyzer .App-topbar
  {
    position: absolute;
    width: 100%;
    height: 92px;
    top: 0;

    background: #415A77;

    display:inline-flex;
    /* flex-direction: row;
    align-items: center;
    justify-content: center; */
  }

    .App-analyzer .App-topbar h1
    {
      font-family: 'Josefin Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 45px;
      line-height: 45px;

      margin-left: calc(50% - 156px);
      color: #E0E1DD;
    }

    .App-analyzer .App-topbar button
    {
      margin-left: 15px;
      background-color: transparent;
      border: 0;
    }

      .App-analyzer .App-topbar button span
      {
        content: url('https://api.iconify.design/ant-design/home-filled.svg?color=%23e0e1dd&width=54&height=58');
      }

.App-analyzer .App-sidebar
{
  position: absolute;
  height: calc(100vh - 92px);
  width: 325px;
  bottom: 0;
  
  overflow-x: hidden;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(65, 90, 119, 0.5);
}

  .App-analyzer .App-sidebar .graph-options
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    width: 100%;
  }

    .App-analyzer .App-sidebar .graph-options h1
    {
      width: 100%;
      height: 70px;
      margin: 0;

      font-family: 'Josefin Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 30px;
      line-height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;

      border-bottom: 1px solid #415A77;
      color: #FFFFFF;
    }

  .App-analyzer .App-sidebar .filters
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    width: 100%;
  }

    .App-analyzer .App-sidebar .filters h1
    {
      width: 100%;
      height: 70px;
      margin: 0;

      font-family: 'Josefin Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 30px;
      line-height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;

      border-bottom: 1px solid #415A77;
      color: #FFFFFF;
    }

    .App-analyzer .App-sidebar .graph-choices
    {
      display: inline-flex;
      width: 100%;
      height: 70px;
      align-items: center;
      border-bottom: 1px solid #415A77;
    }

    .App-analyzer .App-sidebar p
    {
      font-family: 'Josefin Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      line-height: 25px;
      color: #FFFFFF;

      position: relative;
      left: 2em;
    }

    .App-analyzer .App-sidebar .unchecked,
    .App-analyzer .App-sidebar input
    {
      display: flex;
      justify-content: center;
      align-items: center;

      position: relative;
      left: 6em;
    }

    .App-analyzer .App-sidebar .checked
    {
      display: flex;
      justify-content: center;
      align-items: center;

      position: relative;
      left: calc(6em - 24px);
    }

    .App-analyzer .App-sidebar input[type="radio"] {
      position: relative;
      left: 20px;
      opacity: 0;
    }
    
    .App-analyzer .App-sidebar input[type="radio"] ~ svg {
      -webkit-transition: all 0.1s;
      transition: all 0.1s;
    }
    
    .App-analyzer .App-sidebar input + svg {
      cursor: pointer;
    }
  
    .App-analyzer .App-sidebar .checked {
      opacity: 0;
    }

    input[id="HIST"]:hover ~ .unchecked,
    input[id="HIST"]:checked ~ .unchecked,
    input[id="HIST"]:focus ~ .unchecked,
    input[id="HM"]:hover ~ .unchecked,
    input[id="HM"]:checked ~ .unchecked,
    input[id="HM"]:focus ~ .unchecked{
      opacity: 0;
    }

    input[id="HIST"]:hover ~ .checked,
    input[id="HIST"]:checked ~ .checked,
    input[id="HIST"]:focus ~ .checked,
    input[id="HM"]:hover ~ .checked,
    input[id="HM"]:checked ~ .checked,
    input[id="HM"]:focus ~ .checked{
      opacity: 1;
    }

    .App-analyzer .App-sidebar .btn-apply
    {
      width: 143px;
      height: 42px;

      background: #FFFFFF;
      border-radius: 50px;
      border: 0;

      font-family: 'Josefin Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      line-height: 25px;
      color: #415A77;
    }

    .App-analyzer .App-sidebar button
    {
      background-color: transparent;
      border: 0;
    }

      .App-analyzer .App-sidebar button .iconify-dropdown
      {
        content: url('https://api.iconify.design/material-symbols/arrow-drop-down.svg?color=white&width=70&height=70&rotate=0deg');

      }

      .App-analyzer .App-sidebar button .iconify-dropdown-180
      {
        content: url('https://api.iconify.design/material-symbols/arrow-drop-down.svg?color=white&width=70&height=70&rotate=180deg');
      }


.App-analyzer .App-main
{
  position: absolute;
  height: calc(100vh - 92px);
  width: calc(100vw - 325px);
  bottom: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-analyzer .App-main img
  {
    width: 75%;
  }

@media screen and (max-width: 850px){
  .App-home div 
  {
    width: 80vw;
  }

  .App-home p 
  {
    width: 90vw;
    text-align: center;
  }
}

@media screen and (max-width: 650px){
  .App-analyzer .App-sidebar
  {
    overflow-x: hidden;
    overflow-y: auto;
    height: 40vh;
    width: 100vw;
  }

  .App-analyzer .App-sidebar p
  {
    left: 25vw;
  }

  .App-analyzer .App-sidebar .unchecked,
  .App-analyzer .App-sidebar input
  {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: calc(75vw);
  }

  .App-analyzer .App-sidebar .checked
  {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: calc(75vw);
  }

  .App-analyzer .App-main
  {
    position: absolute;
    top: 92px;
    left: 0px;
    height: calc(60vh - 92px);
    width: 100vw;
  } 

  .App-analyzer .App-main img
  {
    width: 300px;
  }
}

@media screen and (max-width: 500px){
  .App-home p 
  {
    font-size: 30px;
    line-height: 30px;
  }

  .App-home label
  {
    font-size: 25px;
    line-height: 25px;
  }
}

@media screen and (min-width: 1300px){
  .App-analyzer .App-main img
  {
    width: 730px;
  }
}